<div class="modal fade css-video-modal" role="dialog">
  <div class="modal-dialog">
    <!-- MODAL CONTENT -->
    <div class="modal-content" style="width: 800px;">
      <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="box-body">
          <video id="js-video-player" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
            <source src="<%= @television_program.video.url(:mp4) %>" type='video/mp4'>
            <!-- <source src="<%#= @television_program.video.url(:webm) %>" type='video/webm'> -->
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-modal" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascript_in_file do %>
  <script type="text/javascript">
    console.log("hai juga");
    video.currentTime(video.currentTime() + 5);
    video.on('timeupdate', function(e) {
    if (video.currentTime() >= 15) {
        video.pause();
      }
    });
    
    $('#css-video-modal').on('hide', function(){
      console.log("Modal nutup");
    });
  </script>
<% end %>