<h2>Total Spot for Each Channel</h2>
<br>
<div class="chart">
  <canvas id="barChart" style="height:400px; width: 800px"></canvas>
</div>
<%= content_for :javascript_in_file do %>
  <script type="text/javascript">
    $(function(){
      var areaChartData = {
        labels  : <%= data[:channel_names].to_json.html_safe %>, // [GTV, TRANS7, TVONE, NET, ...],
            datasets: [
              {
                label               : 'Channel',
                fillColor           : 'rgba(60,141,188,0.9)',
                strokeColor         : 'rgba(60,141,188,0.8)',
                pointColor          : '#3b8bba',
                pointStrokeColor    : 'rgba(60,141,188,1)',
                pointHighlightFill  : '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data                : <%= data[:channel_ratings].to_json.html_safe %> // sum of rating for every channel in array
              }
          ]
        }
      var barChartCanvas                   = $('#barChart').get(0).getContext('2d');
      var barChart                         = new Chart(barChartCanvas);
      var barChartData                     = areaChartData;
      barChartData.datasets[0].fillColor   = '#4A89DC';
      barChartData.datasets[0].strokeColor = '#4A89DC';
      barChartData.datasets[0].pointColor  = '#4A89DC';
      var barChartOptions                  = {
        animation: false,
        //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
        scaleBeginAtZero        : true,
        //Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines      : true,
        //String - Colour of the grid lines
        scaleGridLineColor      : 'rgba(0,0,0,.05)',
        //Number - Width of the grid lines
        scaleGridLineWidth      : 1,
        //Boolean - Whether to show horizontal lines (except X axis)
        scaleShowHorizontalLines: true,
        //Boolean - Whether to show vertical lines (except Y axis)
        scaleShowVerticalLines  : true,
        //Boolean - If there is a stroke on each bar
        barShowStroke           : true,
        //Number - Pixel width of the bar stroke
        barStrokeWidth          : 2,
        //Number - Spacing between each of the X value sets
        barValueSpacing         : 5,
        //Number - Spacing between data sets within X values
        barDatasetSpacing       : 1,
        maintainAspectRatio     : true
      };
      barChartOptions.datasetFill = false;
      barChart.Bar(barChartData, barChartOptions);
    });
  </script>
<% end %>