/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap
 *= require bootstrap-select/bootstrap-select.min
 *= require dataTables.bootstrap.min
 *= require video-js
 *= require jquery-ui
 */

/* import font from url */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,800');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/*----------------------*/

/*  Code for fixed alert  */
.fixed-alert{
  /* fixed position a zero-height full width container */
  position: fixed;
  top: 40px;
  left: 5%;
  right: 5%;
  width: 90%;
  /* center all inline content */
  text-align: center;
}
.fixed-alert > .text {
  /* make the block inline */
  display: inline-block;
  /* reset container's center alignment */
  text-align: center;
}
/*------------------------*/