Hai <%= current_user.username %> |
<% if current_user.admin? %>
  <b>Admin</b>
<% else %>
  <b>User</b>
<% end %>
|
<%= search_form_for @search, url: dashboard_path, method: :get do |f| %>
  <select name='cols[]' multiple class="selectpicker" data-actions-box="true">
    <option value="channel_cont">channel</option>
    <option value="program_cont">program</option>
    <option value="level_1_cont">level_1</option>
    <option value="level_2_cont">level_2</option>
    <option value="cost_eq">cost</option>
  </select>
  <input type="text" name="keyword" id="search" class="form-control js-search-box" placeholder="Search" >

  <%= f.submit :submit %>
<% end %>

result:
<br>
<% if @television_programs.present? %>
  <% @television_programs.each do |p| %>
    <%= p.program %>
  <%end%>
<% else %>
  Gak ada
<% end %>