<div  class="hold-transition skin-blue sidebar-mini"> <!-- 1 -->
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <video id="js-video-player" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
          <source src="<%= @television_program.video.url(:mp4) %>" type='video/mp4'>
          <!-- <source src="<%#= @television_program.video.url(:webm) %>" type='video/webm'> -->
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </section>
    </div>
  </div>
</div>

<% content_for :javascript_in_file do %>
  <script type="text/javascript">
    videojs('js-video-player');
    var video = videojs('js-video-player');
    video.currentTime(video.currentTime() + 5);
    video.on('timeupdate', function(e) {
    if (video.currentTime() >= 15) {
        video.pause();
      }
    });
  </script>
<% end %>
