<div  class="hold-transition skin-blue sidebar-mini"> <!-- 1 -->
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content-header">
        <%#= videojs_rails sources: { mp4: @television_program.video.url }, setup: "{}", controls: true, width:"400" %>
        <%= video_tag @television_program.video.url, id: 'js-video-player', class: 'video-js', width: '680', height: '480' %>
      </section>
    </div>
  </div>
</div>

<% content_for :javascript_in_file do %>
  <script type="text/javascript">
    try{
      videojs('js-video-player', {
        controls: true,
        autoplay: false,
        preload: 'auto'
      });
    } catch (e) {
      console.log(e);
    }
  </script>
<% end %>
